.formulaire_inscription{
  background-color: #5eb5e0;

}
label{
    display: block;
    text-align: center;
    margin-top: 30px;
    font-size: 35px;
}
input{
    width:30%;
    margin-left: 35%;
    font-size: 30px;
    height: 20px;
    padding-top: 15px;
    padding-bottom:15px;
    padding-left: 5px;
    border-radius: 5px;
}
.titre_formulaire{
    text-align: center;
    color: #B0413E;
    text-decoration: underline;
    font-size: 40px;
}
button{

    min-width: 30%;

    max-width: 250px;
    margin-left:35%;
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 200%;
    border-radius: 5px;
    overflow: hidden;
background-color: #B0413E;

}


button:hover{
    color: red;
}

.container_profil h1 {
    text-align: center;
}

.modifier_profil{
    width:100px;
    height: 50px;
    font-size: 20px;
}
.profil h2{
    text-align: center;
}
#campus{

    height: 50px;
    min-width: 30%;
    margin-left: 35%;
    margin-top: 30px;
    text-align: center;

}
