section{
    border: 1px solid blue;
    text-align: center;
    margin-left: 25%;
    margin-top: 20px;
    width:50%;
    border-radius: 10px;
}
h1{
    padding-top: 20px;
    margin-bottom: 40px;
    text-decoration: underline;
}
button{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px 10px;

    border-radius: 5px;
}

button:hover {
    background-color: blue;
    color: white;
}